.Pet {
  margin-top: 20px;
}

.age, .breed, .location {
  margin-top: 10px;
  font-size: 12pt;
  text-align: left;
}

.pet-image {
  margin-top: 10px;
  width: 300px;
  height: 300px;
}

.inactive-adopt-button {
  margin-top: 10px;
  font-size: 12pt;
  text-align: center;
  background-color: grey;
  width: 30%;
  border-radius: 20px;
  height: 20px;
}

.adopt-button {
  margin-top: 10px;
  font-size: 12pt;
  text-align: center;
  background-color: green;
  width: 30%;
  border-radius: 20px;
  height: 20px;
  cursor: pointer;
}
